 .loginpage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .social img {
    border-radius: 50%;
  }

  .email {
    color: #6B6B6B;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .password {
    color: #6B6B6B;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .img-1 {
    height: 1117px;
    width: 1728px;
  }

  .text-2 {
    text-align: left;
    vertical-align: top;
    font-size: 48px;
    font-family: Poppins;
    line-height: auto;
    color: #6b6b6b;
  }
  .ellipse-2 {
    height: 90px;
    width: 90px;
    background-color: #C4C4C4;
    border-radius: 50%;
  }